@import './reset';
@import './variables/global';
@import './themes/light';
@import './themes/dark';
@import './themes/light-blue';

body {
    font: var(--font-m);
}

.app {
    background: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
}

.content-page {
    display: flex;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background: var(--inverted-bg-color);
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: var(--primary-color);
}
