@import './reset';
@import './variables/global';
@import './themes/light';
@import './themes/dark';
@import './themes/light-blue';

body {
    font: var(--font-m);
}

.app {
    background: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
}

.content-page {
    display: flex;
}

.page-wrapper {
    flex-grow: 1;
    padding: 20px 20px 20px 40px;
}
