.Sidebar {
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);
    background: var(--inverted-bg-color);
    position: relative;
    transition: width 0.3s ease;
    padding: 20px 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.collapsed {
    width: var(--sidebar-width-collapsed);
}

.switchers {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
