.Sidebar {
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);
    background: var(--inverted-bg-color);
    position: relative;
    transition: width 0.3s ease;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.switchers {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.sideButton {
    padding: 0;
    position: absolute;
    right: -20px;
    bottom: 100px;
    width: 40px;
    height: 40px;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    transform: rotate(180deg);

    &:hover {
        transform: rotate(180deg) scale(1.1);
    }
}

.sideButtonActive {
    transform: rotate(0deg);

    &:hover {
        transform: rotate(0deg) scale(1.1);
    }
}

.navList {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.collapsed {
    width: var(--sidebar-width-collapsed);
}
