.navItem {
    display: flex;
    align-items: center;
    gap: 8px;
    white-space: nowrap;
}

.icon {
    min-width: 24px;
    display: flex;
    align-items: center;

    & svg {
        fill: var(--primary-color);
    }
}

.collapsed.navItem {
    justify-content: center;

    & > span {
        display: none;
    }
}
