.popup {
    position: relative;
}

.active {
    background: var(--inverted-bg-color);
}

.optionsTopRight {
    bottom: 100%;
    left: 0;
}

.optionsTopLeft {
    bottom: 100%;
    right: 0;
}

.optionsBottomRight {
    top: 100%;
    left: 0;
}

.optionsBottomLeft {
    top: 100%;
    right: 0;
}

.disabled {
    opacity: 0.4;
}

.trigger {
    background: none;
    outline: none;
    margin: 0;
    padding: 0;
    border: none;
    color: var(--inverted-bg-color);
    display: flex;
    align-items: center;
}
