.app.dark {
    --bg-color: #000f09;
    --inverted-bg-color: #fff;
    --primary-color: #00b86e;
    --secondary-color: #fff;

    // skeleton
    --skeleton-color: #00b86e;
    --skeleton-shadow: #252525;
    --code-bg: #0e0e0e;
}
