.Navbar {
    width: 100%;
    height: var(--navbar-height);
    background: var(--bg-color);
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    box-shadow: 1px 1px 10px var(--primary-color);
}

.linkWrapper {
    margin-left: auto;
    gap: 20px;
    display: flex;
    align-items: center;
}
