.ProfilePageHeader {
    display: flex;
    margin-bottom: 20px;
    align-items: center;

    .editBtn {
        margin-left: auto;
    }
}

.btnFlex {
    display: flex;
    gap: 20px;
    align-items: center;
}

.btnWrapper {
    margin-left: auto;
}
