.ProfileCard {
    // padding: 20px;
}

.data {
    margin-top: 40px;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
}

.error {
    display: flex;
}

.avatarWrapper {
    margin: 0 auto;
}

.select {
    margin-top: 10px;
}
